<!-- ko if: item -->
<!-- ko if: item()['correctness'] -->
<div class="result-image image-correct"></div>
<!-- /ko -->
<!-- ko ifnot: item()['correctness'] -->
<div class="result-image image-wrong"></div>
<!-- /ko -->
<!-- /ko -->
<div class="result-text">
    <div data-bind="if: item">
        <span data-bind="if: item()['correctness']">
            <span data-bind="i18n: 'ev_correct'">
            </span>
        </span>
        <span data-bind="ifnot: item()['correctness']">
            <span data-bind="i18n: 'ev_wrong'">
            </span>
        </span>
    </div>
</div>
<% if (events.length) { -%>
<div class="explanation">
<%     for (var i = 0; i < events.length; i += 1) {
           if (events[i].stereotype == 'system') { -%>
    <c-<%= events[i].id %> params="trigger: trigger.bind($data,'<%= events[i].id %>')"></c-<%= events[i].id %>>
<%         } else { -%>
    <a class="waves-effect waves-light btn cyan" data-bind="click: trigger.bind($data, '<%= events[i].id %>'), , i18n: 'ev_explanation'"></a>
<%         }
       } -%>
</div>
<% } -%>
