<div class="select-lang">
    <div data-bind="if: fields">
        <form>
            <p data-bind="i18n: 'language'"></p>
            <select data-bind="value: fields()['language']">
                <option value="it">Italian (IT)</option>
                <option value="en">English (EN)</option>
            </select>
        </form>
    </div>
</div>
<% if (events.length) { -%>
<div class="save-settings-btn">
<%     for (var i = 0; i < events.length; i += 1) {
           if (events[i].stereotype == 'system') { -%>
    <c-<%= events[i].id %> params="trigger: trigger.bind($data,'<%= events[i].id %>')"></c-<%= events[i].id %>>
<%         } else { -%>
    <a class="options btn-blue" data-bind="click: trigger.bind($data, '<%= events[i].id %>'), i18n: 'generic_save'"></a>
<%         }
       } -%>
</div>
<% } -%>
