<span>
    <a class="options" data-bind="click: trigger.bind($data,'event-home-decode-a-card'), i18n: 'btn_cardgame'">
    </a>
    <a class="options" data-bind="click: trigger.bind($data,'event-home-single-player'), i18n: 'btn_single_player'">
    </a>
    <a class="options" data-bind="click: trigger.bind($data,'event-home-settings'), i18n: 'btn_settings'">
    </a>
</span>
