<div>
    <div>
<% for (var i = 0; i < children.length; i += 1) { -%>
        <span data-bind="if: active() === '<%= children[i] %>'">
            <c-<%= children[i] %> params="context: context"></c-<%= children[i] %>>
        </span>
<% } -%>
    </div>
</div>
